{% extends "layout.html" %}

{% block body %} 
    <div>
        <label>Employee : {{ username }}</label>
    </div>
    <div class="centered-form" style="justify-content: flex-start; align-items: flex-start; flex-direction: column;">
        <form action="/bill" method="get" style="margin:2px;">
            <button type="submit" style="width: 100vw; padding: 20px;">Add Item</button>
        </form>
        <form action="/bill_final" method="get" style="margin:2px;">
            <button type="submit" style="width: 100vw; padding: 20px;">Check Out</button>
        </form>
    </div>
{% endblock %}